[2019-02-12 18:32] andrewsykim opened #1 "Removing cloud provider dependencies to k8s.io/kubernetes"
Duplicating https://github.com/kubernetes/kubernetes/issues/69585 to track milestones more easily.

As part of a long running initiative to remove cloud providers out of kubernetes/kubernetes, it's required to remove dependencies to kubernetes/kubernetes so we can place them into a staging directory. The following dependencies need to be removed from `k8s.io/kubernetes/pkg/cloudprovider/providers`

[2019-02-12 18:33] andrewsykim commented on #1
/assign @andrewsykim @mcrute @cheftako @dims

[2019-02-12 18:42] andrewsykim opened #2 "Stage all in-tree cloud providers"
Blocked on https://github.com/kubernetes/cloud-provider/issues/1 & https://github.com/kubernetes/kubernetes/issues/69585.

Phase 1 of removing in-tree cloud providers is to stage them and publish them to their respective out-of-tree repositories. See [KEP-removing-in-tree-providers](https://github.com/kubernetes/enhancements/blob/master/keps/sig-cloud-provider/20190125-removing-in-tree-providers.m

[2019-02-12 18:43] andrewsykim commented on #2
/assign @andrewsykim

Assigning myself to this. I have a WIP branch for this already :)

[2019-02-12 18:47] andrewsykim opened #3 "GAing cloud provider node labels KEP"
Continuing the discussion from https://github.com/kubernetes/kubernetes/pull/73616/files#r253236288, we need to consider GAing common node labels applied by cloud providers. Right now they are prefixed with beta even though they are consumed by all cloud providers.

There likely needs to be a KEP for this. https://github.com/kubernetes/enhancements/blob/master/keps/sig-node/20190130-node-os-arch-l

[2019-02-12 18:48] andrewsykim commented on #3
/help-wanted

[2019-02-12 18:51] andrewsykim commented on #3
Beta node labels that need to be GA'd:
`beta.kubernetes.io/instance-type`
`failure-domain.beta.kubernetes.io/zone`
`failure-domain.beta.kubernetes.io/region`

[2019-02-12 19:53] andrewsykim opened #4 "Investigate alternatives for out-of-tree PersistentVolume labelling"
When we removed (alpha) Initializer support, we essentially made the PVL (persistent volume labelling) controller unusable. We should either update the controller or add another implementation that uses mutating admission webhook instead.

If we use mutating admission webhook, we should delete the PVL controller we have in-tree.

ref: https://github.com/kubernetes/kubernetes/issues/73319

[2019-02-12 19:53] andrewsykim commented on #4
/milestone v1.14

[2019-02-12 19:54] andrewsykim commented on #4
/help

[2019-02-12 19:58] andrewsykim opened #5 "Improving AWS Integration docs"
AWS integration docs should be updated as per https://github.com/kubernetes/enhancements/blob/master/keps/sig-cloud-provider/0019-cloud-provider-documentation.md.

[2019-02-12 20:00] andrewsykim opened #6 "Improving Azure Integration Docs"
Azure integration docs should be updated as per https://github.com/kubernetes/enhancements/blob/master/keps/sig-cloud-provider/0019-cloud-provider-documentation.md

[2019-02-12 20:01] andrewsykim opened #7 "Improving GCE Integration Docs"
GCE integration docs should be updated as per https://github.com/kubernetes/enhancements/blob/master/keps/sig-cloud-provider/0019-cloud-provider-documentation.md

[2019-02-12 20:01] andrewsykim opened #8 "Improving OpenStack Integration Docs"
OpenStack integration docs should be updated as per https://github.com/kubernetes/enhancements/blob/master/keps/sig-cloud-provider/20180731-cloud-provider-docs.md

[2019-02-12 20:02] andrewsykim opened #9 "Improving vSphere Integration Docs"
Improve vSphere integration docs as per https://github.com/kubernetes/enhancements/blob/master/keps/sig-cloud-provider/0019-cloud-provider-documentation.md

[2019-02-12 20:03] andrewsykim commented on #5
/help

[2019-02-12 20:03] andrewsykim commented on #6
/help

[2019-02-12 20:03] andrewsykim commented on #7
/help

[2019-02-12 20:03] andrewsykim commented on #8
/help

[2019-02-12 20:03] andrewsykim commented on #9
/help

[2019-02-15 17:32] andrewsykim commented on #3
enhancement issue https://github.com/kubernetes/enhancements/issues/837, KEP in progress

[2019-02-19 20:30] andrewsykim commented on #3
/assign

[2019-02-19 20:34] andrewsykim opened #10 "Better cloud LB names"
LBs provisioned by Kubernetes on any cloud provider uses auto-generated names based on the Service's UUID (e.g. `a44e18e4c552b11e683bb02fff13e176`) which is not very human-friendly. With https://github.com/kubernetes/kubernetes/pull/66589 merged it should be doable to have each provider set LB names based on naming requirements.

SIG CP tracking issue for https://github.com/kubernetes/kubernetes/i

[2019-02-19 20:41] andrewsykim opened #11 "kube-controller-manager -> cloud-controller-manager migration plan"
We need a KEP outlining how we intend to migrate existing clusters from using the kube-controller-manager to the cloud-controller-manager for the cloud provider specific parts of Kubernetes.

At KubeCON NA 2018, we discussed grouping the existing cloud controllers under 1 leader election that is shared by the kube-controller-manager and the cloud-controller-manager. For single node control planes

[2019-02-19 20:41] andrewsykim commented on #11
/assign @mcrute

@mcrute is working on the initial design for this.

[2019-02-19 20:41] andrewsykim commented on #11
cc @cheftako

[2019-02-19 20:44] andrewsykim commented on #5
/assign @d-nishi @kris-nova @justinsb

[2019-02-19 20:45] andrewsykim commented on #6
/assign @justaugustus @dstrebel

[2019-02-19 20:46] andrewsykim commented on #7
/assign @cheftako @jagosan @fedebongio

[2019-02-19 20:46] andrewsykim commented on #8
/assign @hogepodge @dims

[2019-02-19 20:47] andrewsykim commented on #9
/assign @frapposelli @cantbewong

[2019-02-20 13:47] andrewsykim opened #12 "Investigate usage/requirements for ClusterID"
In https://github.com/kubernetes/kubernetes/issues/48954 & https://github.com/kubernetes/kubernetes/pull/49215 we made `ClusterID` a requirement, and added a flag `--allow-untagged-cloud` on the kube-controller-manager. The intention there was to allow clusters to get away with not setting ClusterID for a few releases but eventually make it a requirement. It seems we never followed through with cl

[2019-02-20 15:07] justinsb commented on #12
So on AWS the ClusterID is used as a tag to allow multiple clusters to coexist in the same "scope".  AWS doesn't have a project concept like GCP does, so originally this was needed to allow multiple clusters to exist in the same VPC at all.

Drilling down, there are two use cases:

* _isolation_: Cluster A shouldn't see cluster B's resources in e.g. the cloudprovider code
* _cleanup_: We should be

[2019-02-20 15:54] justinsb commented on #12
I put up a WIP PR to show what is required to move to passing around v1.Node, BTW: https://github.com/kubernetes/kubernetes/pull/74304  It looks bad, but the only complicated thing was the desiredStateOfWorld map on node-update - and the volume reconciler is where I've always got stuck before.

[2019-02-20 20:20] andrewsykim commented on #4
/remove-help
/assign

[2019-02-20 20:41] andrewsykim commented on #4
@liggitt @dims @msau42 I'm currently working on building a reference implementation of a mutating admission webhook that should replace the PVL controller (that previously used Initializers). I'm stuck on a few things and some clarification would help.

* Dealing with certs & configuring the `MutatingWebhookConfiguration` requires a lot of work, is there a library that can make this configuration

[2019-02-21 02:05] andrewsykim commented on #3
@MorrisLaw has volunteered to implement this once the KEP PR is merged, thank you!

[2019-02-21 16:44] andrewsykim opened #13 "Extracting/Migrating the Credential Provider"
As part of the cloud provider extraction/migration, we should start to look into how the credential provider is going to be extracted so that the kubelet does not rely on cloud SDKs for image pulling credentials. Also to support future credential providers without adding it into the main tree.

Need to work with SIG Auth and propose a KEP to extract/migrate credential providers to move out-of-tree

[2019-02-21 22:30] liggitt commented on #4
cc @mbohlool ^

[2019-02-21 22:51] msau42 commented on #4
Long term, PVs should only need PV.NodeAffinity to schedule pods to appropriate nodes.  And this will be populated through dynamic provisioning without requiring the admission controller.  At least aws, gce, and azure cloud providers already have this logic since 1.12 that I'm aware of.

So the admission controller for PV labeling only serves two purposes now:
* Add PV.NodeAffinity to PVs that wer

[2019-02-22 06:49] jagosan commented on #7
/assign @mistyhacks

[2019-02-22 06:50] jagosan commented on #7
/cc @fedebongio

[2019-02-22 22:27] andrewsykim commented on #4
So this _might_ be a reasonable expectation for out-of-tree cloud providers. The only reason we are investigating an out-of-tree PV labelling mechanism is to support existing legacy behavior of labelling PVs that the current in-tree providers rely on. But if we are temporarily supporting this legacy behaviour via the in-tree PVL admission controller and the long term goal is to only require PV.Nod

[2019-02-22 22:57] msau42 commented on #4
Yeah I think we want to add PV.NodeAffinity at admission time, or require the users to set it (could break backwards compatibility).

PVs that CSI drivers dynamically provision will automatically get PV.NodeAffinity. However the keys they use are vendor-specific, and not the common Kubernetes topology labels.  For example, the topology key that GCE PD CSI driver uses is "topology.gke.io/zone".  Th

[2019-02-22 23:09] msau42 commented on #4
Oh sorry, I forgot to clarify, users that manually create PVs backed by CSI drivers do not automatically get labels nor PV.NodeAffinity.  So that behavior is already different from in-tree volumes.

[2019-02-22 23:35] andrewsykim commented on #4
Thanks for clarifying.

For CSI driver support, seems like we need to have a longer discussion about this. For v1.14 though, we do need to figure out what needs to happen for the out-of-tree PV labelling admission controller.

Seems like the options are:

1) Remove the [out-of-tree PV labeler controller](https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/cloud/pvlcontroller.go) en

[2019-02-22 23:41] msau42 commented on #4
For volumes out of tree, even the out-of-tree PV labeler didn't work for them right? Because it needs to query each cloud provider for the zone, and the only out-of-tree types that we implemented were the same as the in-tree types.

[2019-02-23 00:14] andrewsykim commented on #4
The out-of-tree PV labeler was a bit naive and applied the PV labels to every PV with the initializer flag set (maybe this is a bug?), but there was nothing stopping an out-of-tree provider from implementing `GetLabelsForVolume` and applying those labels to all PVs in the cluster. This is likely one of the reasons that it wasn't adopted much in the first place.

[2019-02-23 01:33] msau42 commented on #4
I'm not familiar with the original out of tree labeler design.  What determined what type of PV gets the initalizer flag?  ie, how do you distinguish between an nfs PV vs gce PV?

[2019-02-23 05:25] mcrute commented on #13
/assign @mcrute

[2019-02-23 05:26] mcrute commented on #13
Also related kubernetes/kubernetes#70675

[2019-02-25 17:48] andrewsykim commented on #4
Same here 😆. But from what I'm reading, if you configure your cluster correctly (i.e. `InitializerConfiguration` is set for PVs and the `Initializer` admission controller is enabled), then all PVs in your cluster, regardless of type would be processed by the PV labeler controller.

The original PR https://github.com/kubernetes/kubernetes/pull/44680 actually did check whether the PV was of the corr

[2019-02-25 17:56] andrewsykim commented on #4
cc @cheftako

[2019-02-26 01:37] msau42 commented on #4
Hm yes, looking at the gce implementation at least, this function will [segfault](https://sourcegraph.com/github.com/kubernetes/kubernetes/-/blob/pkg/cloudprovider/providers/gce/gce_disks.go#L508) if it was passed any PV type other than gce pd...

I'm ok with getting rid of the controller for 1.14 considering that it's alpha and has various issues.

[2019-02-27 16:51] andrewsykim commented on #12
@justinsb is it safe to say that if we replace where we pass in node name only with the entire node object this would remove the need for clusterID? Seems like a reasonable thing to do to me because there are a lot of places where we have to "search node by name" when we could just get the node ID from `spec.ProviderID`.

[2019-02-27 17:01] andrewsykim commented on #12
For the GCE case (and please correct me if I'm wrong), it seems like it supports cluster ID but not in the same way as AWS. GCE generates it's own cluster ID dynamically and stores the value in a ConfigMap. Its main purpose is isolation given the cluster ID value is propagated to LB resources like you mentioned. For what it's worth, it seems like cluster ID is an internal implementation detail and

[2019-03-01 18:13] mcrute commented on #11
Here's a first [draft](https://github.com/mcrute/enhancements/blob/cp-upgrade-proposal/keps/sig-cloud-provider/20190220-cloud-provider-upgrade.md). There's plenty more to be done but getting this out there for discussion.

[2019-03-01 18:41] andrewsykim commented on #11
Thanks @mcrute!

[2019-03-01 19:34] andrewsykim commented on #13
@mcrute and I are doodling out some ideas for this, hoping we can have an alpha feature-gated version of this in for v1.15.

cc @liggitt @smarterclayton

[2019-03-06 17:44] andrewsykim opened #14 "Investigate API Throttling in Node Controller"
ref: https://github.com/kubernetes/kubernetes/issues/75016

For large clusters, we're seeing API throttling from providers becoming more common. Taking node-controller as an example, it will call a "get node" api request per node on every sync loop. For a 1000 node cluster that's could be 1000 get requests per minute which can result in users running out of API quotas.

[2019-03-06 17:44] andrewsykim commented on #14
/assign @aoxn @andrewsykim

[2019-03-07 01:41] andrewsykim opened #15 "Investigate API throttling in routes API calls"
The Azure provider implemented caching in front of their routes interface to overcome API rate limiting (routes controller is extremely aggressive with the way it calls APIs), we should investigate if this is a common problem across providers (especially at larger scale) and come up with a common solution if it makes sense.

ref: https://github.com/kubernetes/kubernetes/issues/60646

[2019-03-07 23:01] andrewsykim opened #16 "Finalizer Protection for Service LoadBalancers"
This is mainly a SIG Cloud Provider tracking/backlog issue, more details on the problem here https://github.com/kubernetes/kubernetes/issues/53451

We have two (stale) PRs open to add finalizer protection support for cloud provider LBs:
https://github.com/kubernetes/kubernetes/pull/54569
https://github.com/kubernetes/kubernetes/pull/65912

We have users who have report issues that their cloud LBs

[2019-03-07 23:01] andrewsykim commented on #16
/assign @jhorwit2

[2019-03-12 16:06] andrewsykim commented on #4
Deleted the PV controller for v1.14, will work with SIG storage for next steps on this for v1.15

[2019-03-13 02:00] andrewsykim opened #18 "Nodes are being registered multiple times in the cloud-controller-manager"
In some situations, the cloud-controller-manager tries to register the same node twice. I need to dig into this a bit more, but my guess is that we are receiving a 2nd update event on a node that is currently being registered.

I think one reasonable solution to this is to store a map of nodes that are currently being registered and skip registration if that node exists in the map. Delete the entr

[2019-03-13 08:35] yastij commented on #18
@andrewsykim  - I agree, building a local cache on the controller side seems to be something we're already doing on others controllers. We might also want to merge add/update as it pretty much does the same thing, feel free to assign me if not working on it.

[2019-03-14 18:53] cheftako commented on #11
Thanks @mcrute <https://github.com/mcrute>! I would like us to also discuss
as part of this how we do a better job of running Controllers in HA
environments. Currently we do not utilize HA well as part of this. If we
could get rid of the kill process when leader election is lost, then we
could get much better utilization in HA. The problem has been that
Controllers tend to kick of goroutines (and

[2019-03-18 15:51] andrewsykim opened #19 "Remove the ovirt cloud provider"
Tracking issue for https://github.com/kubernetes/kubernetes/pull/72178 which removes the ovirt cloud provider from k8s.io/kubernetes.

[2019-03-18 15:51] andrewsykim opened #20 "Remove the cloudstack cloud provider"
Tracking issue for kubernetes/kubernetes#72178 which removes the cloudstack cloud provider from k8s.io/kubernetes.

[2019-03-18 15:52] andrewsykim opened #21 "Remove the photon cloud provider"
Tracking issue for kubernetes/kubernetes#72178 which removes the photon cloud provider from k8s.io/kubernetes.

[2019-03-20 06:14] feiskyer commented on #13
Would secret a possible solution for this?

[2019-03-20 09:11] feiskyer commented on #6
Would address this later

/assign

[2019-03-20 17:57] andrewsykim commented on #13
Yes, this is one of the possible solutions we're discussing. KEP is work in progress :)

[2019-03-20 20:28] andrewsykim commented on #1
/priority critical-urgent

[2019-03-20 20:29] andrewsykim commented on #1
/milestone v1.15

[2019-03-20 20:30] andrewsykim commented on #2
/priority critical-urgent

[2019-03-20 20:30] andrewsykim commented on #2
/milestone v1.15

[2019-03-20 20:30] andrewsykim commented on #3
/priority important-soon

[2019-03-20 20:31] andrewsykim commented on #3
/milestone v1.15

[2019-03-20 20:34] andrewsykim commented on #4
/milestone v1.15
/priority important-longterm

note: update issue to only scope investigation or KEP

[2019-03-20 20:35] andrewsykim commented on #5
/milestone v1.15
/priority critical-urgent

[2019-03-20 20:35] andrewsykim commented on #6
/milestone v1.15
/priority critical-urgent

[2019-03-20 20:35] andrewsykim commented on #7
/milestone v1.15
/priority critical-urgent

[2019-03-20 20:35] andrewsykim commented on #8
/milestone v1.15
/priority critical-urgent

[2019-03-20 20:35] andrewsykim commented on #9
/milestone v1.15
/priority critical-urgent

[2019-03-20 20:35] andrewsykim commented on #9
/assign

[2019-03-20 20:37] andrewsykim commented on #10
/milestone
/priority backlog

[2019-03-20 20:39] andrewsykim commented on #11
/milestone v1.15
/priority critical-urgent

[2019-03-20 20:40] andrewsykim opened #22 "Implement KCM -> CCM Migration"
Implementation of KEP https://github.com/kubernetes/cloud-provider/issues/11

TODO (andrewsykim): add more description

[2019-03-20 20:41] andrewsykim commented on #22
At least alpha for v1.15

/milestone v1.15
/priority critical-urgent

[2019-03-20 20:43] andrewsykim commented on #12
TODO: investigate if other providers need this

/milestone Next
/priority important-longterm

[2019-03-20 20:46] andrewsykim commented on #13
For KEP + alpha implementation

/milestone v1.15
/priority critical-urgent

cc @dchen1107 @derekwaynecarr

[2019-03-20 20:51] hogepodge commented on #14
SIG OpenStack has seen similar issues, but we're addressing in our own implementations. We would welcome a generic solution if one would be appropriate, but we're fine with adding cloud-specific tuning variables on our provider.

[2019-03-20 20:54] andrewsykim commented on #16
/milestone v1.15
/priority important-longterm

[2019-03-20 20:57] andrewsykim commented on #18
/milestone v1.15
/priority important-longterm

[2019-03-20 20:58] andrewsykim commented on #19
/milestone v1.15
/priority important-soon

[2019-03-20 20:58] andrewsykim commented on #20
/milestone v1.15
/priority important-soon

[2019-03-20 20:58] andrewsykim commented on #21
/milestone v1.15
/priority important-soon

[2019-03-20 21:07] andrewsykim opened #23 "API Server Network Proxy KEP"
See https://github.com/kubernetes/enhancements/pull/872 for more details.

[2019-03-20 21:07] andrewsykim commented on #23
/assign @cheftako
/milestone v1.15
/priority critical-urgent

[2019-03-21 01:41] aoxn commented on #14
@hogepodge Cool work.   Could you share your solutions with us?

[2019-03-21 01:58] aoxn opened #24 "Investigate support for multiple route tables"
### Problem Description
Many Cloud support multiple route tables under VPC. CCM Cloud Interface has poor support for multi-route tables. Consider ListRoutes() interface, It is confused for ListRoutes() to return which route tables`s entry.
For example, RouteTableA has route entry [1,2,3,4],   RouteTableB has route entry [2,3,4,5]
What result should ListRoutes() return?  Neither [1,2,3,4,5] nor [2,

[2019-03-21 01:59] aoxn commented on #24
/assign @andrewsykim

[2019-03-21 18:39] andrewsykim commented on #19
/assign @dims

[2019-03-21 18:39] andrewsykim commented on #20
/assign @dims

[2019-03-21 18:39] andrewsykim commented on #21
/assign @dims

[2019-03-22 21:16] andrewsykim opened #25 "Decoupling Cloud Providers from Kubernetes e2e testing framework"
In the past few releases we've been focused on migrating in-tree cloud providers (`k8s.io/kubernetes/pkg/cloudprovider/providers`) out-of-tree but we've neglected the providers that are a part of the e2e framework (`https://github.com/kubernetes/kubernetes/tree/master/test/e2e/framework/providers`) which also needs to be removed before we can stop vendoring cloud SDKs. There's a lot of refactoring

[2019-03-22 21:16] andrewsykim commented on #25
/priority important-soon

[2019-03-26 21:18] bowei commented on #16
@jhorwit2: do you mind throwing together a small KEP referencing your PRs to make sure this is able to get out in the 1.15 timeframe?
We now require KEPs for most changes, and this one seems to be a big enough behavior change to warrant it.
I can help out with the KEP part if it makes it easier...

[2019-03-27 15:36] andrewsykim opened #26 "Define requirements for cloud config"
Each provider is doing something different with cloud config, and we don't have a consistent story for what we expect providers to do with it. We should have a discussion with the necessary stakeholders (cloud providers, api reviewers, etc) to better define what is expected for cloud config (future plans, depreciation policy, backwards compatibility, etc). Maybe the way things are today is fine (l

[2019-03-27 15:38] andrewsykim commented on #26
/priority important-longterm

[2019-03-27 15:39] smarterclayton commented on #26
Some notes from discussion that was spawned by API reviewers:

* Config from cloud providers is a Kubernetes API (just like on disk config files or REST APIs or kubectl flags) and must have "rules"
* We don't have a lot of the rules formalized for cloud-provider, but we need to do that
* We need to ensure API review and backward compatibility guarantees are defined
  * tests, versions, releases, h

[2019-03-27 15:40] smarterclayton commented on #26
Also, what is the intersection between conformance and config formats?  Can two different distros of Kube have different cloud provider configuration files and both be conformant?  Do we extend conformance to operational characteristics or not?  @kubernetes/cncf-conformance-wg.

[2019-03-27 15:41] smarterclayton commented on #26
Triggered by in tree: https://github.com/kubernetes/kubernetes/blob/66674f549626cc41f04e475d2c0e865116c4cd40/pkg/cloudprovider/providers/vsphere/vsphere.go#L125 and assessing whether it has tests, is compatible, etc (tests eg https://github.com/kubernetes/cloud-provider-vsphere/blob/master/pkg/cloudprovider/vsphere/vsphere_test.go#L260)

[2019-03-27 15:48] andrewsykim commented on #26
Our v1.15 backlog is pretty packed, how important is it that we outline requirements for cloud config in this release? Can we punt this discussion to the next milestone or do you feel we should bump this into v1.15?

cc @mcrute @justinsb @dims @cheftako

[2019-03-27 17:13] bgrant0607 commented on #26
No cloud-provider features should be covered by conformance currently.

On config more generally: Conformance needs to assume that how a cluster is created is a black box, since there are many ways to provision and configure clusters.

[2019-03-28 19:24] andrewsykim commented on #16
@jhorwit2 I'd like to bump this into p1 for v1.15, if you don't have cycles please let me know and we can find other folks in the SIG to work on it :).

[2019-03-28 19:46] andrewsykim commented on #13
p0: KEP + alpha implementation

[2019-03-28 19:49] andrewsykim commented on #26
Queued this discussion in for the next SIG call, please attend if you have opinions/thoughts on this

[2019-04-03 17:25] andrewsykim commented on #16
/cc @jiatongw

[2019-04-03 17:26] bowei commented on #16
/cc @MrHohn

[2019-04-03 17:27] bowei commented on #16
@MrHohn has done a lot of the reviews for the two existing PRs and has cycles in 1.15 to help get this in...

[2019-04-03 17:40] andrewsykim commented on #16
Thanks @bowei! @jiatongw and I have started some initial work on the KEP, any objections if we open the KEP in the next week or two and assign you and @MrHohn for review?

[2019-04-03 17:41] bowei commented on #16
sgtm -- I put as an item on sig-net to ping if anyone else is interested.

[2019-04-03 17:50] andrewsykim commented on #16
Sweet, I think once the KEP is in we can split the KEP into implementable pieces and delegate work from there

[2019-04-03 17:56] jiatongw commented on #16
Sure @andrewsykim thanks

[2019-04-03 17:59] andrewsykim commented on #16
/assign @andrewsykim @bowei @MrHohn

[2019-04-03 18:03] andrewsykim commented on #25
Join the testing-commons subproject under sig-testing to be more involved in this effort.

[2019-04-03 19:58] andrewsykim commented on #22
/close dupe of https://github.com/kubernetes/cloud-provider/issues/11

[2019-04-03 19:58] #22 closed

[2019-04-03 19:58] andrewsykim commented on #11
/assign

[2019-04-03 20:11] andrewsykim commented on #5
/assign @mcrute

[2019-04-03 20:12] andrewsykim commented on #6
/assign @justaugustus

[2019-04-03 20:34] andrewsykim commented on #26
/assign @justinsb @frapposelli

[2019-04-03 21:02] andrewsykim commented on #26
Action item from SIG call: update docs to indicate that cloud config should have the same compatibility guarantees. If this doesn't fit into any of the existing docs, I think leaving inline comments in the in-tree cloud config structs would be sufficient

[2019-04-03 23:11] andrewsykim commented on #16
Spoke with @bowei offline, I don't think we need more than 1 person working on this at once, makes more sense if @MrHohn takes this (KEP + implementation) for 1.15

[2019-04-04 20:54] andrewsykim opened #27 "Track underlying cloud resources for Services"
SIG CP backlog/tracking issue for https://github.com/kubernetes/kubernetes/issues/70159

Following [Tim's comment](https://github.com/kubernetes/kubernetes/issues/70159#issuecomment-480042373) we also need to have a discussion on whether we want to document this as a best practice or enforce this across existing providers.

[2019-04-04 20:56] andrewsykim commented on #27
cc @aoxn

[2019-04-05 14:46] NeilW opened #28 "Module support for cloud-provider library"
Updating the cloud provider libraries is a bit of a chore.

Really should be able to pull in all the updated module dependencies with

[code]

rather than delving around in the dependency libraries.

Pulling in the staged libraries is particularly difficult as there is no dependency information between them. A go.mod containing those would be a start

I use the following script as a workaround for

[2019-04-05 15:15] #28 closed

[2019-04-11 02:20] mcrute commented on #13
[Rough draft](https://docs.google.com/document/d/1QIU2NxwsMbDybE4RmMsMiZqANyxvUfyQyMiW8j_1cf4/edit) of the KEP, mostly just the problem statement at this point.

[2019-04-11 07:22] feiskyer commented on #13
@andrewsykim What's your proposal for alpha implementation?

[2019-04-15 10:56] nzoueidi commented on #18
I am digging into this, any hints would be very appreciated.

[2019-04-15 11:06] tghartland commented on #18
@nzoueidi This is what I think is happening https://github.com/kubernetes/kubernetes/pull/75405#discussion_r271195049

[2019-04-15 20:47] andrewsykim opened #29 "Move cmd/cloud-controller-manager and its controllers to k8s.io/cloud-provider (staging)"
Right now, out-of-tree providers end up vendoring a lot of `k8s.io/kubernetes` because they need to import `cmd/cloud-controller-manager`. `cmd/cloud-controller-manager` should be easier to consume, ideally living in it's own repository or moved to `k8s.io/cloud-provider`.

Similar to what we did for in-tree providers (`k8s.io/kubernetes/pkg/cloudprovider/providers`) we need to start pruning some

[2019-04-15 23:40] andrewsykim commented on #29
@timoreimann

[2019-04-16 09:18] timoreimann commented on #12
FWIW, DigitalOcean is similar to AWS in the sense that we do not have a dedicated notion of a cluster scope / project. We currently use a cluster ID (injected via an environment variable since we weren't certain on the future of the interface-provided cluster ID) for billing / grouping purposes (translating them to tags on DO resources like load-balancers) only.

The isolation and cleanup goals co

[2019-04-16 11:28] dims commented on #8
/assign @hogepodge
/unassign @dims

[2019-04-26 17:08] dims commented on #1
What's left here @andrewsykim ?

[2019-04-26 20:57] andrewsykim commented on #1
@dims just `pkg/util/mount` but if there are no plans to move the in-tree openstack provider to staging we can close this out. You mentioned previously that there were no plans, can you confirm here?

[2019-05-05 07:22] feiskyer opened #30 "Support of instance metadata service"
Before CCM, kubelet supports getting Node information by cloud provider's instance metadata service. This includes:

•	NodeName
•	ProviderID
•	NodeAddresses
•	InstanceType
•	AvailabilityZone

Instance metadata service could help to reduce API throttling issues, and increase the nodes initialization duration. This is especially helpful for large clusters.

But with CCM, this is not possible anymore

[2019-05-05 13:07] andrewsykim commented on #30
ref: https://github.com/kubernetes/cloud-provider/issues/15 https://github.com/kubernetes/cloud-provider/issues/14

[2019-05-06 17:32] andrewsykim commented on #30
I think we should put this in high priority for v1.16. It's a common problem across multiple providers and is likely going to make the out-of-tree provider migration difficult

[2019-05-06 17:34] andrewsykim commented on #30
I'm not sure if this will be feasible, but at the very least we should focus efforts in making controllers API quota sensitive before we invest efforts in something like this. We can make API quota sensitive controllers a high priority for v1.16 as a first step and go from there. What do you think?

[2019-05-07 01:47] feiskyer commented on #30
Yep, that may be the first step. Meanwhile, I'm thinking the solutions for such issues, so that CCM still has the same performance as KCM.

[2019-05-07 02:36] andrewsykim commented on #30
The only controller that is different from KCM is cloud node controller, I think https://github.com/kubernetes/kubernetes/pull/75405 should help with this a lot

[2019-05-07 04:46] feiskyer commented on #30
Yep, but still not enough. e.g. for cluster provision step, hundreds of nodes are initialized at the same time. kubernetes/kubernetes#75405 could reduce the errors in node controller, but the node initialization may be still slow because of API throttling.

With instance metadata, however, all nodes could init them without any API invoking, hence no API throttling would happen and nodes could be r

[2019-05-07 05:04] andrewsykim commented on #30
Agreed that we should improve this, but we should be mindful that this is a one time cost when the cluster is being created and we should optimize for that and nothing more.

[2019-05-13 02:18] feiskyer commented on #6
Added in https://github.com/kubernetes/enhancements/pull/1048

/close

[2019-05-14 18:41] andrewsykim commented on #30
@feiskyer are you able to validate if https://github.com/kubernetes/kubernetes/pull/75405 is helping with this problem for Azure?

[2019-05-15 00:46] feiskyer commented on #30
@andrewsykim Yep, of course. Would do it.

[2019-05-15 19:20] andrewsykim commented on #1
This is done given we're not staging any more cloud provdiers, let me know if anything changes with OpenStack @dims

[2019-05-15 19:20] #1 closed

[2019-05-15 19:24] andrewsykim commented on #2
We've moved all the providers (that need to be supported in-tree) to a staging repo https://github.com/kubernetes/legacy-cloud-providers.

[2019-05-15 19:24] #2 closed

[2019-05-15 21:28] andrewsykim commented on #11
This is going to slip into the next release since we couldn't get the KEP reviewed in time for the KEP deadline. Further discussions happening for this in https://github.com/kubernetes/enhancements/pull/979 & https://github.com/kubernetes/kubernetes/pull/77878, hoping to have an implementable KEP in time for v1.16.

[2019-05-16 09:01] yastij opened #31 "Handle volume scheduling when nodes are shutdown"
Currently if a node gets shutdown, pods using volumes don't get rescheduled, Since we don't know if the volumes are still being used.

Two solutions:

- Create a flow that has an interlock between node lifecycle controller, taintManager, PodGC, attach_detach_controller and kubelet, one of the drawbacks of this solution is that we need to tie taint removal to finishing the eviction (more specifical

[2019-05-17 15:11] andrewsykim opened #32 "Validate/test usage of service account credentials in cloud controller manager"
Backlog issue for https://github.com/kubernetes/kubernetes/issues/72897

[2019-05-20 11:16] andrewsykim opened #33 "Update k8s.io/cloud-provider-sample"
A few months ago we created https://github.com/kubernetes/cloud-provider-sample which would act as a reference implementation of the Kubernetes cloud provider (cloud-controller-manager). Since creating the repo, we haven't had a chance to update it but we should as it acts as a good reference implementation for future providers.

cc @cheftako

[2019-05-21 17:22] cheftako commented on #33
I agree that we should work on this. Hands full on the apiserver-network-proxy but happy to start working on this after 1.15 code freeze.

[2019-05-21 22:30] andrewsykim commented on #33
Sounds good, let's p0 this for v1.16

[2019-05-23 13:12] andrewsykim opened #34 "Remove unecessary flags in cloud-controller-manager"
There's a bunch of unnecessary flags that were added to the cloud-controller-manager as it was back ported from the kube-controller-manager. We should remove (or deprecate) those flags, specifically flags associated with a single provider (e.g. --cloud-provider-gce-lb-src-cidrs)

cc @timoreimann

[2019-05-28 17:42] andrewsykim commented on #18
/close

I think this has been addressed, thank you again @tghartland!

[2019-05-28 17:42] #18 closed

[2019-05-28 17:44] andrewsykim opened #35 "cloud-controller-manager should be able to ignore nodes"
Continuing the discussion from https://github.com/kubernetes/kubernetes/pull/73171, the CCM should have a mechanism to "ignore" a node in a cluster, either because it doesn't belong to a cloud provider or is not a node in the traditional sense (e.g. virtual kubelet). See the PR for more discussion

[2019-06-11 19:52] timoreimann commented on #34
@andrewsykim I'd be happy to take over this one, either partially or completely. Given the number of flags available, I'd appreciate any advice on how to determine which flags should stay and which may be dropped.

Thanks!

[2019-06-11 20:35] andrewsykim commented on #34
@timoreimann do you have all the flags handy from the DO CCM? If you list them here I can list which ones are still needed today.

[2019-06-11 21:15] timoreimann commented on #34
@andrewsykim sure, here you go (note that the description of the `--cloud-provider-gce-lb-src-cidrs` flag is due to a local patch of ours to make it work):

[code]

[2019-06-12 20:16] andrewsykim commented on #23
Alpha for v1.16 https://github.com/kubernetes/kubernetes/pull/78543

[2019-06-12 20:20] andrewsykim commented on #9
vSphere provider docs: https://cloud-provider-vsphere.sigs.k8s.io/

/close

[2019-06-12 20:20] #9 closed

[2019-06-18 15:58] andrewsykim opened #36 "Standardize the Cloud Controller Manager Build/Release Process"
Right now each provider is building/releasing the external cloud controller manager in their own way. It _might_ be beneficial to standardize this going forward or at least set some guidelines on what is expected from a cloud controller manager build/release.

Some questions to consider:
* What should a CCM release include? Docker image? Binaries? Source Code?
* What base images are acceptable for

[2019-06-18 22:15] timoreimann commented on #34
Hey @andrewsykim 👋 -- have you had a chance to take a look at the output I pasted above?

[2019-06-19 16:16] andrewsykim opened #37 "Nodes intermittently loose their node addresses"
Backlog tracking issue for bug report https://github.com/kubernetes/kubernetes/issues/68270

I had originally thought this was fixed in https://github.com/kubernetes/kubernetes/pull/65226 but recent reports suggest that this bug still exists. Should be p0 or p1 for v1.16 and we should cherry-pick it to previous versions if possible.

[2019-06-20 11:32] NeilW commented on #36
First thing to sort out is how to update the modules, so that Go module updates work correctly.

The standard main.go has dependencies on 'k8s.io/kubernetes' and 'k8s.io/component-base'

Component base isn't semantically versioned properly, and fetching the main kubernetes module causes a load of version failures as the staging redirect 'replace' entries in the go module file don't apply in an ext

[2019-06-20 11:34] NeilW commented on #36
[code]

[2019-06-20 14:21] andrewsykim commented on #36
Thanks @NeilW! I agree that removing imports to `k8s.io/kubernetes` will help the case here. There were some discussions in the past to move `k8s.io/kubernetes/cmd/cloud-controller-manager` to either `k8s.io/cloud-provider/cmd/cloud-controller-manager` or `k8s.io/cloud-controller-manager`. The tricky thing with that is now all cloud-specific controllers also need to move to an external repo now si

[2019-06-20 14:21] andrewsykim commented on #34
Hey @timoreimann sorry for the delay. So after going through some of the flags I actually do think we need most of those. The two that I think are safe to remove are:
* --cloud-provider-gce-lb-src-cidrs - which you already fixed
* --external-cloud-volume-plugin -  this is a flag we only needed in the kube-controller-manager to enable some of the in-tree volume plugins but I don't think it's requir

[2019-06-21 08:06] NeilW commented on #36
I've spend a day struggling with 1.15 and I've still not managed to get the dependencies sorted out for the cloud-provider. It looks like I'll have to manually code 'replace' entries for all the repos in the 'staging' area of the kubernetes repo. So we definitely have a problem.

However that does open up a possibility for making cloud-providers more standard. If you built a dummy provider that re

[2019-06-21 08:13] NeilW commented on #36
In terms of a publishing process, the one I use with Hashicorp to publish our terraform provider is a good one. I go on a slack channel and ask them to roll a new release, and after a few manual checks the maintainer of the central repo holding the providers hits the go button on the automated release system.

Now Hashicorp have staff managing that central provider repo(https://github.com/terrafor

[2019-06-21 09:11] timoreimann commented on #36
I haven't upgraded DigitalOcean's CCM to 1.15 yet, but I do remember that moving to the 1.14 deps was quite a hassle. For instance, it required adding a replace directive for apimachinery which wasn't obvious for me to spot.

I noticed that the latest client-go v1.12 (corresponding to Kubernetes 1.15 as it seems) encodes these replace directives in its go.mod file now. My guess is that, if cloud-p

[2019-06-21 09:19] timoreimann commented on #36
@andrewsykim

I'm all in favor of removing any dependencies on `k8s.io/kubernetes` that are currently still in cloud provider since those tend to pull in a fair number of transitive packages (which are presumably not all required?).

What's the benefit of moving the cloud provider command part into a new, separate repository? My gut feeling is that it would be easier to reuse the existing k8s.io/c

[2019-06-21 09:52] timoreimann commented on #34
@andrewsykim thanks for checking. I had a few others in mind that I probably just lack context around. Could I ask you to briefly describe why these are needed:

- anything around what seems to be HTTP/S serving (e.g., `--bind-address`, `--http2-max-streams-per-connection`, `--secure-port`, `--tls-*`): is that to serve Prometheus metrics, or something else?
- the authentication flags: we had [repo

[2019-06-21 09:57] NeilW commented on #36
Less that we would consume cloud-provider and more that it would consume us.

1. Copy `cloud-provider` to a new repo `digitalocean-cloud-provider` within a k8s organisation that holds and publishes the cloud-providers.
2. Alter the 'go.mod' and add a replace that says `k8s.io/cloud-provider-interface => github.com/digitalocean/digitalocean-cloud-provider-interface vX.Y.Z`
3. Run the release proces

[2019-06-21 12:45] NeilW commented on #36
In terms of updating to 1.15

- Strip your go.mod down to just the requires for your provider
- Auto generate the k8s.io require and replace entries using something [like this](https://github.com/brightbox/brightbox-cloud-controller-manager/blob/release-1.15/hack/update-version.sh)

Hope that saves somebody a lot of time.

[2019-06-27 06:54] feiskyer commented on #14
/remove-lifecycle stale

[2019-06-27 06:54] feiskyer commented on #15
/remove-lifecycle stale

[2019-06-28 19:29] andrewsykim commented on #21
/close

Removed in https://github.com/kubernetes/kubernetes/pull/72178

[2019-06-28 19:29] #21 closed

[2019-06-28 19:29] andrewsykim commented on #19
/close

Removed in https://github.com/kubernetes/kubernetes/pull/72178

[2019-06-28 19:29] #19 closed

[2019-06-28 19:30] andrewsykim commented on #20
/close

Removed in https://github.com/kubernetes/kubernetes/pull/72178

[2019-06-28 19:30] #20 closed

[2019-07-02 18:47] neolit123 commented on #25
/remove-lifecycle stale

[2019-07-03 22:01] timoreimann commented on #27
@andrewsykim this issue and the originating one in k/k seem to concern the very point I raised the other day on Slack about attaching DigitalOcean load-balancer UUIDs as annotations. I'm currently PoC'ing if this is possible to do with the latest cloud provider framework (i.e., the Kubernetes 1.15 dependencies), especially with regards to Service objects being modified not only by the service cont

[2019-07-03 22:20] MrHohn commented on #27
(edit: Sorry for hitting enter too soon :/)

I was thinking about this as well. With PATCH now being used for updating Service status / metadata, we shouldn't be hitting conflict issue if underlying cloud provider implementation updates the annotations in between. Though it seems to oppose what the interface originally defines:
https://github.com/kubernetes/cloud-provider/blob/402566916174f020983c

[2019-07-08 22:01] andrewsykim commented on #10
/remove-lifecycle stale

[2019-07-08 22:02] andrewsykim commented on #27
/remove-lifecycle stale

[2019-07-08 22:02] andrewsykim commented on #24
/remove-lifecycle stale

[2019-07-10 13:21] timoreimann commented on #27
My PoC to validate that patching the Service object does not interfere with the service controller's own operations and patching was successful -- I couldn't spot any error logs or changing behaviors as the LBs came up. I think the patching of mine triggers another service update, but that's not too much of a concern.

One issue I'm still somewhat struggling with is that I'd like the patching to o

[2019-07-10 19:26] andrewsykim commented on #31
KEP https://github.com/kubernetes/enhancements/pull/1116

[2019-07-10 19:47] timoreimann opened #38 "Allow discovering node changes for load-balancer targets more frequently"
The [nodeSyncPeriod in service_controller.go](https://github.com/kubernetes/kubernetes/blob/57eef320414f46165fc775472a0dc402bcd39311/pkg/controller/service/service_controller.go#L55) defines the interval at which changes in nodes (additions, removals) will be discovered for the purpose of updating a load-balancer's target node set. It is currently hard-coded to 100 seconds and defined as a constan

[2019-07-10 19:50] timoreimann commented on #38
Likely the easiest approach would be to expose the interval through a flag that could be set based on a cloud's / customer's preferences.

A different approach could be to extend the existing resource event handler in order to watch over nodes as they come and go. This would presumably minimize latency at the trade-off of increased complexity and load-balancer updates triggered for each individual

[2019-07-10 20:08] andrewsykim commented on #5
cc @jaypipes

[2019-07-10 20:11] jaypipes commented on #5
Note the link should be https://github.com/kubernetes/enhancements/blob/master/keps/sig-cloud-provider/20180731-cloud-provider-docs.md

[2019-07-10 20:13] andrewsykim commented on #12
cc @craiglpeters @jaypipes

[2019-07-10 20:17] andrewsykim commented on #14
Investigate severity of API throttling for v1.16

[2019-07-10 20:23] andrewsykim commented on #27
@aoxn do we want to work on this for v1.16?

[2019-07-10 20:27] andrewsykim commented on #29
Agreed design for v1.16

[2019-07-10 20:35] andrewsykim commented on #33
cc @timoreimann

[2019-07-10 20:38] andrewsykim commented on #36
/assign @yastij

[2019-07-10 21:03] timoreimann commented on #33
As discussed on the SIG meeting, integration with test grid is one of the goals here to provide a working example of a testable, basic cloud-controller-manager. This should help in-tree cloud providers making the transition going out-of-tree.

[2019-07-10 21:05] andrewsykim commented on #38
I feel a good first step would be adding node watchers to update [knownHosts](https://github.com/kubernetes/kubernetes/blob/57eef320414f46165fc775472a0dc402bcd39311/pkg/controller/service/service_controller.go#L86) instantly, that doesn't trigger an LB update, but it ensures that the next service update always has the latest node objects

[2019-07-10 21:07] andrewsykim commented on #4
/close

PVs in the long term won't be using labels for topology anyways so I don't think this is needed anymore. ref https://github.com/kubernetes/kubernetes/issues/72139

[2019-07-10 21:07] #4 closed

[2019-07-10 21:07] andrewsykim commented on #8
@hogepodge should this still be p0 for v1.16?

[2019-07-10 21:09] andrewsykim commented on #14
If folks have user stories on how bad the API throttling is for clusters that would be really helpful in determining the priority for this issue.

[2019-07-10 21:10] andrewsykim commented on #15
If folks have user stories on how bad the API throttling for routes controller is, that would be really helpful in determining the priority for this issue.

[2019-07-10 21:10] andrewsykim commented on #24
@aoxn what's the use-case for multiple route tables?

[2019-07-10 21:12] andrewsykim commented on #29
/assign @timoreimann

[2019-07-10 21:13] andrewsykim commented on #30
@feiskyer any updates on this one?

[2019-07-10 21:13] andrewsykim commented on #32
/close

I don't think we need to track this issue here, cloud providers should be testing RBAC config based as part of testing.

[2019-07-10 21:13] #32 closed

[2019-07-10 21:15] andrewsykim commented on #36
For v1.16: consensus on what the build/release process for CCM should look like.

[2019-07-10 21:16] andrewsykim commented on #37
/close

Turns out this was already fixed in https://github.com/kubernetes/kubernetes/pull/65226

[2019-07-10 21:16] #37 closed

[2019-07-10 21:24] msau42 commented on #4
PVs do not need labels for scheduling, however it is unclear if we still want an admission controller that automatically generates PV.NodeAffinity for manually creating PVs, or require that if users are manually creating their PVs, they also manually fill in the PV.NodeAffinity.  The current expectation is that the admission controller does this

[2019-07-11 00:58] aoxn commented on #24
The background is that CCM goes wrong when user has multiple routetalbes under their VPC.  Because the default ccm behavior is to write the 0th route table which would not be the target(route table).

Alibaba Cloud use a self defined controller extended cloudprovider interface to solve this issue for now. It might be better to solve it in cloudporivder interface level as other provider may face th

[2019-07-11 08:51] feiskyer commented on #30
@andrewsykim Based on Azure API throttles, this is still a hard requirement for Azure cloud provider. I'm planning to draft a proposal for this during v1.16.

/milestone v1.16
/assign

[2019-07-11 08:52] feiskyer commented on #14
This would be the issue for Azure. Refer #30.

[2019-07-12 12:23] yastij commented on #36
A couple things:

- should we rely on prow + the fact that the release machinery should be oss for the ccms **hosted under k/k** ? I would say yes. This would let users know how the artefacts they're using are built.

- I think that the process + outputs should be transparent as much as possible

- As for base image, I think we should follow what we're doing upstream (i.e. images should be based o

[2019-07-16 22:25] hogepodge commented on #8
Yes.

[2019-07-19 13:28] feiskyer commented on #30
@andrewsykim I'm preparing the proposal [here](https://docs.google.com/document/d/1ihMwAuTRKWBhqvExh09E51NA-u1EJw9Hj1w9kAjFF3I/edit). Would you like having a look before I send it out as KEP?

[2019-07-22 09:10] feiskyer commented on #30
Opened the KEP here: https://github.com/kubernetes/enhancements/pull/1158.

[2019-07-30 02:54] #26 closed

[2019-08-06 17:52] andrewsykim opened #39 "Deprecate and remove cloud-controller-manager binary"
backlog tracking issue for https://github.com/kubernetes/kubernetes/issues/81027

[2019-08-06 17:52] andrewsykim opened #40 "Deprecate and remove cloud-controller-manager binary"
backlog tracking issue for https://github.com/kubernetes/kubernetes/issues/81027

[2019-08-06 17:52] andrewsykim commented on #40
/close

accidentally opened this twice

[2019-08-06 17:52] #40 closed

[2019-08-06 22:12] andrewsykim commented on #6
@feiskyer I see the KEP merged but have the docs been written?

[2019-08-07 00:37] feiskyer commented on #6
We have added some docs on cloud-provider-azure, but it's not fully organized as the KEP's structure.

/open
/area provider/azure

[2019-08-07 00:37] feiskyer commented on #6
/milestone v1.16

[2019-08-07 18:34] andrewsykim commented on #6
/reopen

[2019-09-03 05:16] #6 closed

[2019-09-10 22:16] cheftako commented on #23
/remove-lifecycle stale

[2019-09-10 22:16] cheftako commented on #11
/remove-lifecycle stale

[2019-09-11 17:00] andrewsykim commented on #13
/remove-lifecycle stale

[2019-09-30 19:20] neolit123 commented on #25
/lifecycle frozen

[2019-10-02 19:46] andrewsykim commented on #29
After some thought, I'm in favor of moving `cmd/cloud-controller-manager` to `k8s.io/cloud-provider/cmd/cloud-controller-manager`.

[2019-10-02 20:39] andrewsykim commented on #5
/assign @nckturner

[2019-10-02 20:40] andrewsykim commented on #8
/assign @adisky

[2019-10-02 20:42] andrewsykim commented on #11
/assign @yastij

[2019-10-02 20:43] andrewsykim commented on #12
/assign @nckturner

[2019-10-02 20:45] andrewsykim commented on #24
ping @aoxn what's the status of this for v1.17?

[2019-10-02 20:59] andrewsykim commented on #8
cc @diablo_rojo

[2019-10-02 22:31] cheftako commented on #29
I think its a good idea. We will need another extract to staging effort to make this work.
Look at https://github.com/kubernetes/kubernetes/blob/master/cmd/cloud-controller-manager/app/BUILD#L14, https://github.com/kubernetes/kubernetes/blob/master/cmd/cloud-controller-manager/app/apis/config/BUILD#L14 and https://github.com/kubernetes/kubernetes/blob/master/cmd/cloud-controller-manager/app/option

[2019-10-09 05:21] adisky commented on #8
@andrewsykim it is returning `404` https://github.com/kubernetes/enhancements/blob/master/keps/sig-cloud-provider/0019-cloud-provider-documentation.md
could you help me where to update the docs?? we maintain docs here https://github.com/kubernetes/cloud-provider-openstack/tree/master/docs, is it needs to be updated in k/website?

[2019-10-09 05:45] adisky commented on #8
got it
https://github.com/kubernetes/enhancements/blob/master/keps/sig-cloud-provider/20180731-cloud-provider-docs.md

[2019-10-16 19:46] andrewsykim commented on #16
/remove-lifecycle stale

[2019-10-16 19:47] andrewsykim commented on #10
/remove-lifecycle stale

[2019-10-16 19:47] andrewsykim commented on #35
/remove-lifecycle stale.

[2019-10-16 19:47] andrewsykim commented on #35
/remove-lifecycle stale

[2019-10-16 20:54] cheftako commented on #16
/lifecycle frozen

[2019-10-16 20:55] cheftako commented on #10
/lifecycle frozen

[2019-10-16 20:55] cheftako commented on #35
/lifecycle frozen

[2019-10-20 11:37] feiskyer commented on #30
/remove-lifecycle stale

[2019-10-21 17:20] cheftako commented on #30
/lifecycle frozen

[2019-10-24 23:12] chengliangli0918 opened #41 "Should limit the LoadBalancing rule's resource name length less than 80 characters long"
When cloud provider creates LB, the LB rule's resource name is following the following pattern a7600d690dbdf11e9955da6e322bb002-[subnet name]-TCP-20201. If the subnet name is long, the rule's resource name is more than 80 characters long and the Azure NRP files the LB creation with following error: Cloud Provider should limit the LoadBalancing rule's resource name length less than 80 characters lo

[2019-11-12 14:55] deitch commented on #29
Oh so happy to see this. Spent far too much time today because of this, and kindly helped by some go community people and of course @timoreimann.

[2019-11-12 14:58] yastij commented on #29
@deitch - I'm filing the rest of the PRs before the 1.17 release, I expect the final move to happen in 1.18, this would leave a whole release for providers to migrate their imports.

@andrewsykim @cheftako @nckturner @craiglpeters et all does this timeline sound reasonable ?

[2019-11-12 16:26] andrewsykim commented on #29
Sounds good to me, let's put this as p0 for v1.18

[2019-11-14 22:14] nckturner commented on #29
Yup, 1.18 sounds like a reasonable timeline to me.

[2019-11-15 19:29] yastij commented on #29
FYI @liggitt @dims

[2020-01-02 23:14] cheftako commented on #11
/remove-lifecycle stale

[2020-01-02 23:14] cheftako commented on #11
/lifecycle frozen

[2020-01-02 23:15] cheftako commented on #12
/remove-lifecycle stale

[2020-01-02 23:16] cheftako commented on #12
@nckturner Did you have a chance to investigate this?

[2020-01-02 23:16] cheftako commented on #13
/remove-lifecycle stale

[2020-01-02 23:16] cheftako commented on #13
/lifecycle frozen

[2020-01-02 23:17] cheftako commented on #14
/remove-lifecycle stale

[2020-01-02 23:17] cheftako commented on #14
/lifecycle frozen

[2020-01-02 23:18] cheftako commented on #15
/remove-lifecycle stale

[2020-01-02 23:18] cheftako commented on #15
/lifecycle frozen

[2020-01-02 23:18] cheftako commented on #23
/remove-lifecycle stale

[2020-01-02 23:18] cheftako commented on #23
/lifecycle frozen

[2020-01-02 23:19] cheftako commented on #23
/assign @caesarxuchao

[2020-01-02 23:19] cheftako commented on #34
/remove-lifecycle stale

[2020-01-02 23:19] cheftako commented on #34
/lifecycle frozen

[2020-01-02 23:20] cheftako commented on #36
/remove-lifecycle stale

[2020-01-02 23:20] cheftako commented on #36
/lifecycle frozen

[2020-01-02 23:20] cheftako commented on #39
/remove-lifecycle stale

[2020-01-02 23:21] cheftako commented on #39
/lifecycle frozen

[2020-01-03 18:05] yastij commented on #31
/remove-lifecycle stale

[2020-01-10 21:31] MorrisLaw commented on #3
/remove-lifecycle-stale

[2020-01-10 21:32] MorrisLaw commented on #3
/remove-lifecycle stale

[2020-01-22 19:27] andrewsykim opened #42 "Document migration steps to CCM"
We should document how a user would manually migrate their clusters from using in-tree cloud providers to out-of-tree cloud provider. The documented steps can be manual or via a tool like kubeadm.

[2020-01-22 20:03] onitake commented on #42
To get started, a rough outline:

1. Ensure a CCM for your cloud environment is available, with roughly the same feature set than the integrated KCM provider. Determine compatibility issues (missing features, different implementation, etc).
2. Prepare your cloud environment and workloads for the migration: Disable unsupported features, build a list of manual actions to be done after migration (del

[2020-01-22 20:20] onitake commented on #29
Related: Is there already an issue or a guide related to simplifying/streamlining options parsing?

We still use a IMHO pretty terrible way to parse options: https://github.com/apache/cloudstack-kubernetes-provider/blob/master/cmd/cloudstack-ccm/main.go#L45-L50
This was the only sensible way that I could find back when we forked, in part due to a lack of experience.

If not, I will gladly open a n

[2020-01-22 21:40] andrewsykim commented on #3
/close

[2020-01-22 21:40] #3 closed

[2020-01-22 21:41] andrewsykim commented on #5
@nckturner any updates on this?

[2020-01-22 21:41] andrewsykim commented on #5
/remove-lifecycle stale

[2020-01-22 21:41] andrewsykim commented on #7
/remove-lifecycle stale
/lifecycle frozen

[2020-01-22 21:42] andrewsykim commented on #8
/remove-lifecycle stale
/lifecycle frozen

[2020-01-22 21:44] andrewsykim commented on #16
/close

[2020-01-22 21:44] #16 closed

[2020-01-22 21:54] andrewsykim commented on #29
k8s.io/kubernetes/cmd/cloud-controller-manager -> k8s.io/cloud-provider/cmd/cloud-controller-manager
k8s.io/kubernetes/pkg/controllers/{cloud,service,route} -> k8s.io/cloud-provider/controllers

[2020-01-22 21:55] andrewsykim commented on #30
/close

[2020-01-22 21:55] #30 closed

[2020-01-22 22:04] andrewsykim commented on #42
I think this warrants a page in the official Kubernetes docs, @onitake are you willing to put something together?

[2020-01-22 22:32] onitake commented on #42
Yes, I think I can do that.
But I will need more input, and possibly some insight on the situation with different providers.

- Which features are likely to have compatibility issues? Load balancers, node labeling, launch parameters, credential injection come to mind. Others?
- How to run the different cloud providers? Should there be an example deployment for each?
- Do we need to account for env

[2020-01-22 23:30] onitake commented on #42
And also, where should the documentation live?
- on /docs/concepts/cluster-administration/cloud-providers.md ?
- in a new page under /docs/concepts/cluster-administration/cloud-providers/ ?
- in a new page under /docs/tasks/administer-cluster/ ?
- in a new tutorial page under /docs/tutorials/clusters/ ?

[2020-01-23 15:41] andrewsykim commented on #42
I think we should stick to documenting one, AWS is probably the best example because of # of users that manage it themselves

I think we can assume control plane nodes are separate nodes

I think for the first pass, we should ignore storage providers and add CSI migration documentation iteratively.

No, I think just showing how to validate your CCM is working is fine

I think something like `docs/

[2020-01-24 08:25] feiskyer commented on #41
Dup of #86275, which has been fixed by #86276.

/kind bug
/remove-lifecycle stale
/area provider/azure

[2020-01-24 08:25] feiskyer commented on #41
/close

[2020-01-24 08:25] #41 closed

[2020-01-24 22:35] onitake commented on #42
I launched a PR, please submit corrections and input on how to migrate on AWS. I'm slightly biased towards private cloud CCM migrations, so please public cloud users: Give input on your cloud environment specifics.

[2020-02-05 14:49] deitch opened #43 "option for cloud-provider specific tags"
Can we have the option for a CCM implementation to add cloud-provider-specific tags to nodes when they are created?

NOTE: This is the result of a slack discussion on the `cloud-provider` channel [here](https://kubernetes.slack.com/archives/C718BPBQ8/p1580220702019700) and the follow-on thread with @andrewsykim [here](https://kubernetes.slack.com/archives/C718BPBQ8/p1580255282033700)

The way I ha

[2020-02-14 03:09] aoxn commented on #35
There are some scenarios that ccm should ignore nodes.  eg. virtual-kubelet , edge node,  datacenter nodes in hybrid cluster .
we should come up with more generous way to ignore those nodes.
alibaba cloudprovider use `service.beta.kubernetes.io/exclude-node` in node labels to exclude node from ccm.
Any thoughts?

[2020-02-14 03:12] aoxn commented on #24
@andrewsykim  I am afraid a new Interface would be add in order to support multiple routetables
[code]

[2020-02-25 18:46] andrewsykim commented on #29
/assign

[2020-02-25 18:46] andrewsykim commented on #29
ref https://github.com/kubernetes/kubernetes/issues/81172

[2020-02-25 18:46] andrewsykim commented on #29
/unassign @yastij

[2020-03-23 09:03] timoreimann commented on #38
@andrewsykim can we reopen?

[2020-03-23 09:03] timoreimann commented on #33
@andrewsykim can we reopen?

[2020-03-23 16:45] andrewsykim commented on #38
/reopen

[2020-03-23 16:45] andrewsykim commented on #38
/remove-lifecycle rotten

[2020-03-23 16:46] andrewsykim commented on #33
/reopen
/remove-lifecycle rotten

[2020-03-23 16:47] andrewsykim commented on #27
I actually think it's okay to close this now. Service w/ Type=LB now have finalizers so cloud providers should be able to find and delete any associated resource without worrying about the service resource no longer existing.

[2020-03-23 20:53] timoreimann commented on #27
@andrewsykim my understanding was that the tracking issue kubernetes/kubernetes#70159 had a different focus, which is to track a non-ambiguous ID for the cloud LB. Right now the only identifier that the Cloud Provider interface provides is the name; however, the name can be subject to change (even on purpose to support LB renaming), so a different means seems necessary.

The finalizer seems to ens

[2020-03-23 20:59] cheftako commented on #33
/lifecycle frozen

[2020-03-23 21:04] andrewsykim commented on #27
that makes sense

/reopen

[2020-04-10 08:44] rvillablanca commented on #10
Hi all, @andrewsykim there is a simple `TODO` here related with this issue

https://github.com/kubernetes/cloud-provider/blob/1bd40cdc05f920de6af55dad4abd709cf646dea1/fake/fake.go#L174

but for `fake` package. If I understand well this is for testing purposes only so I was thinking to improve this by using names like docker does for container names. Would this be friendlier? or the name should be

[2020-04-14 04:56] #24 closed

[2020-04-15 20:16] andrewsykim commented on #10
/remove-lifecycle frozen

[2020-04-15 20:19] andrewsykim commented on #14
/help

[2020-04-15 20:19] andrewsykim commented on #15
/help

[2020-04-15 20:23] andrewsykim commented on #27
/remove-lifecycle rotten
/lifecycle frozen

@timoreimann let me know if you can work on this

[2020-04-15 20:25] andrewsykim commented on #29
cc @cici37

[2020-04-15 20:26] andrewsykim commented on #31
/close

This probably belongs in SIG node going forward

[2020-04-15 20:26] #31 closed

[2020-04-15 20:26] andrewsykim commented on #33
/assign

[2020-04-15 20:27] andrewsykim commented on #34
@timoreimann are you able to work on this still?

[2020-04-15 20:29] andrewsykim commented on #35
@timoreimann I recall having a conversation about supporting multiple CCMs in a cluster, this is somewhat related. Are you interested in doing this work?

[2020-04-15 20:30] andrewsykim commented on #36
/help

[2020-04-15 20:31] andrewsykim commented on #36
@cheftako to put together short proposal for v1.19

[2020-04-15 20:31] andrewsykim commented on #38
/close

[2020-04-15 20:32] andrewsykim commented on #38
https://github.com/kubernetes/kubernetes/pull/81185 will be included in v1.19

[2020-04-15 20:32] #38 closed

[2020-04-15 20:32] andrewsykim commented on #39
/close

[2020-04-15 20:33] #39 closed

[2020-04-15 20:40] cici37 commented on #29
/assigne @cici37

[2020-04-15 20:40] cheftako commented on #29
/assign @cici37

[2020-04-15 20:42] cici37 commented on #29
/assign @cici37

[2020-04-15 20:52] cheftako commented on #29
/assign @cici37

[2020-04-28 05:39] timoreimann commented on #35
@andrewsykim yes, I'm very interested as it'd help us at DigitalOcean to ease testing. Though my intent is to go beyond just nodes and include load balancers as well. kubernetes/kubernetes#88820 is the ticket I filed for the wider purpose, and https://github.com/kubernetes/kubernetes/issues/88820#issuecomment-607474995 has the summary of our discussion in one of the SIG meetings.

Feel free to ass

[2020-04-28 05:46] timoreimann commented on #34
@andrewsykim yep for sure. It's been awhile since I checked in on this one, last time I did there were a number of open questions around some flags at https://github.com/kubernetes/cloud-provider/issues/34#issuecomment-504366907. If you have a moment, could you go through them and let me know which of the flags I explicitly mentioned are needed for sure?

[2020-04-28 05:56] timoreimann commented on #27
@andrewsykim I can put together a PR as a basis for further discussion. We've been "violating" the do-not-modify-services-directly advice mentioned in the GoDoc for quite some time in DigitalOcean's CCM in order to associate the LB ID with the Service. Having a "blessed" approach for doing this would be beneficial from my point of view.

I'm not sure if I can make it for 1.19 though.

[2020-04-30 06:49] nilo19 commented on #29
For clarity, all the inner deps of cmd/cloud-controller-manager:
[code]

[2020-06-01 01:38] #12 closed

[2020-06-29 17:07] ellistarn commented on #25
Hey @andrewsykim, what's the status of this effort? I'm looking to make some improvements to the AWS e2e Cloud Provider and want to make sure I'm doing so in line with the direction of the project.

[2020-07-15 03:15] deitch commented on #43
/remove-lifecycle stale

[2020-07-15 17:08] cheftako commented on #5
/remove-lifecycle stale

[2020-07-15 17:08] cheftako commented on #5
/lifecycle frozen

[2020-07-15 17:10] cheftako commented on #42
/remove-lifecycle stale

[2020-07-15 17:10] cheftako commented on #42
/lifecycle frozen

[2020-07-15 17:10] cheftako commented on #42
/assign @jiahuif

[2020-07-21 08:24] morenweld commented on #35
hi everybody. I'm also looking at the way how to ignore some nodes on AWS. May I ask, do you know the solution to that?

[2020-08-05 18:09] cheftako commented on #29
/remove-lifecycle stale

[2020-08-05 18:09] cheftako commented on #29
/lifecycle frozen

[2020-09-12 22:05] #10 closed

[2020-10-13 03:55] deitch commented on #43
/remove-lifecycle stale

[2020-10-30 20:48] #29 closed

[2020-11-01 09:05] deitch commented on #29
I am really glad to see this. Has documentation been updated? How do we update our downstream dependencies?

[2020-11-02 17:54] cheftako commented on #29
Hi @deitch, I believe @cici37 has another PR #93764 which should make the CCM even easier to consume. I think it includes a clearer distinction between the sample code and a CCM library. We will make sure to add something to this releases notes on using it.

[2020-11-02 17:55] deitch commented on #29
Thanks. I'm looking forward to it.

[2020-11-02 18:04] andrewsykim commented on #29
Fwiw though, this is technically breaking change at the Go package-level, but IMO this brekaing change is worth-while to cut k/k from the dep graph.

[2020-11-02 18:16] deitch commented on #29
I maintain the Equinix (formerly Packet) CCM, I am super happy to rebuild with this cleanup. Breaking changes for the win here :-)

[2020-12-21 21:41] cheftako commented on #42
/cc @jpbetz

[2020-12-23 12:05] NeilW opened #44 "Consuming cloud-provider appears problematic in 1.20"
I've just upgraded the Brightbox cloud-controller to 1.20 and, in common with the AWS updates, I found the new interfaces into the library to be problematic, and the sample 'main' code to not work as I'd expected.

Primarily the call to s.Config appears to be too early and the command line flags have not been enumerated at that point, so version and help doesn't work and neither do command line fl

[2020-12-23 15:13] andrewsykim commented on #44
@NeilW thanks for feedback, not rendering the command line flags prior to s.Config sounds like a bug to me. @cici37 is this something you can take a look at?

Which flags specifically were not being rendered? Seems like maybe those should be added here:

https://github.com/kubernetes/kubernetes/blob/9465d95ea69bb5ee140df605f0b7960d5ca0b758/staging/src/k8s.io/cloud-provider/options/options.go#L127-

[2020-12-23 17:57] NeilW commented on #44
All of them since the call to Config triggers a Validate which fails with '--cloud-provider not set'.

The flags aren't setup until https://github.com/kubernetes/cloud-provider/blob/22476e0b4bdf036c8b2bc22d66000baa09f13a37/app/controllermanager.go#L106

[2020-12-23 18:46] cici37 commented on #44
Thank you for raising it. I will work on it.
/assign

[2021-01-06 17:58] andrewsykim commented on #44
@cici37 any updates on this?

[2021-01-14 10:25] paullaffitte opened #45 "--cloud-provider cannot be empty"
Using one of the sample main results in an error `--cloud-provider cannot be empty` with an exit status 1. Specifying this flag doesn't change anything.

[2021-01-14 12:53] andrewsykim commented on #45
/assign @cici37

[2021-01-28 23:58] pires commented on #35
AFAIK there's still none!

[2021-02-18 04:02] sfiera opened #46 "Backoff not respected due to resync"
I’ve been investigating an issue in our custom controller-manager where it appears that the backoff settings from service.Controller ([exponential](https://github.com/kubernetes/cloud-provider/blob/e98fefa45a6c0bc0398c647678e5e486a5da3662/controllers/service/controller.go#L131) from [5s to 5m](https://github.com/kubernetes/cloud-provider/blob/e98fefa45a6c0bc0398c647678e5e486a5da3662/controllers/se

[2021-02-25 02:28] sfiera commented on #46
I should add: resync removes loadbalancers, but does not add them. So, the backoff settings are ignored when deleting loadbalancers, but respected when adding or updating them.

[2021-03-03 22:40] #44 closed

[2021-03-06 04:00] karankaran1908 commented on #36
/assign @karankaran1908

[2021-03-12 05:34] #43 closed

[2021-03-22 16:37] falzm commented on #45
Any news on this issue @cici37 @andrewsykim?

[2021-03-22 17:48] cici37 commented on #45
The fix is merged in upstream (https://github.com/kubernetes/kubernetes/pull/98210)
There are some workaround samples in this issue: https://github.com/kubernetes/cloud-provider/issues/44
Without the fix, this issue could be addressed by reconstruct cobra command in cloud provider repo.

[2021-03-23 21:50] baranov1ch opened #47 "Allow NotReady nodes to take part in load balancing"
[This code](https://github.com/kubernetes/cloud-provider/blob/5a236942a3ca6f0454bfcb979cc31207af4894b2/controllers/service/controller.go#L679) says that only Ready nodes will be used when configuring cloud load balancers for a service. This means that k8s control-plane problems may lead to workload outages. If for any reason k8s master will see nodes as 'not ready' - connectivity problems between

[2021-03-23 23:55] cheftako commented on #47
/sig networking
While under the cloud-provider staging directory, service controller is primarily owned by networking. You may also be better of filing this in the main K/K repo than in K/cloud-provider.

[2021-03-23 23:56] cheftako commented on #47
OK can't label sig-networking, you definitely want to file this issue in K/K rather than K/cloud-provider.

[2021-03-23 23:58] cheftako commented on #47
/sig network

[2021-03-23 23:58] cheftako commented on #47
/cc @bowei

[2021-04-08 20:33] cici37 commented on #45
Update: The fix was cherry picked to 1.20 release: https://github.com/kubernetes/kubernetes/pull/100722

[2021-05-14 22:03] nckturner opened #48 "Cloud controllers should not reuse names and cluster roles of KCM controllers"
Currently, a cluster operator can run their external cloud controller manager with `--use-service-account-credentials` enabled or disabled.  If the flag is enabled, then each controller (control loop) gets its own service account token, using a hardcoded name ([like "node-controller"](https://github.com/kubernetes/cloud-provider/blob/5a236942a3ca6f0454bfcb979cc31207af4894b2/app/core.go#L47)).  Thi

[2021-05-17 20:23] cheftako commented on #48
/cc @jpbetz @cici37

[2021-05-18 01:38] andrewsykim commented on #48
I agree with the premise, but concerned about breaking compatibility

[2021-05-18 17:28] nckturner commented on #48
Definitely, but regardless of whether the upstream roles are deprecated, we could allow cloud providers to both use the k8s.io/cloud-provider libraries and use custom names and roles, right?

[2021-05-20 07:01] ramineni opened #49 "ccm version information not displayed correctly on using latest code"
On reusing `NewCloudControllerManagerCommand` defined here https://github.com/kubernetes/cloud-provider/blob/master/app/controllermanager.go#L69 , version information is not displayed correctly.
Ref: https://github.com/kubernetes/cloud-provider-openstack/blob/master/cmd/openstack-cloud-controller-manager/main.go#L55

        $ ./cloud-controller-manager --version
        Kubernetes v0.0.0-master+$

[2021-05-20 22:01] cheftako commented on #48
What about extending https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/cloud-provider/app/controllermanager.go#L360?
Right now its just the controller name and initializer. However we could extend that to include the desired SA.
We already allow the cloud providers to over-ride this, so it seems a natural way to let them control the change.

[2021-05-21 15:55] cheftako commented on #49
/cc @cici37 @jpbetz

[2021-05-24 07:07] nckturner commented on #48
Yeah, that seems like a good place to do it.

[2021-06-25 05:28] timoreimann commented on #46
/remove-lifecycle rotten

Thanks for reporting. This needs to be triaged.

[2021-07-26 20:15] #46 closed

[2021-08-21 01:19] #47 closed

[2021-08-23 06:33] ramineni commented on #49
/remove-lifecycle stale

[2021-08-24 18:50] #48 closed

[2021-09-05 22:20] #45 closed

[2021-09-25 14:47] rifelpet opened #51 "PV Admission breaks when external provider's CloudConfig diverges"
cloud-provider-aws [recently added a new NodeIPFamilies field to CloudConfig](https://github.com/kubernetes/cloud-provider-aws/pull/251/files#diff-97a31d0f193ea0b4e2c538595daf93405351054377458053a5010f6fdb97f4dcR645). This was not added to the in-tree implementation.

PV admission breaks on a cluster with the new CloudConfig field set along with these flags set on kube-controller-manager and kube-

[2021-09-25 14:48] rifelpet commented on #51
/cc @andrewsykim @nckturner

[2021-09-29 19:20] rifelpet commented on #51
We performed some tests in https://github.com/kubernetes/kops/pull/12435, removing the apiserver's --cloud-config as well as disabling the PersistentVolumeLabel admission plugin both result in the e2e tests passing but I believe they no longer have the `topology.kubernetes.io` labels but I haven't been able to confirm that. (I can confirm the `topology.ebs.csi.aws.com` labels are being added by th

[2021-11-20 00:44] jyotimahapatra opened #52 "Pass cli flags to cloud provider registration"
Hi 👋
I've looking at making a change in cloud-provider-aws and introducing a new flag/feature gate. While looking at the code , it seems like the only settings that are passed to the plugins are the cloud provider settings([ref](https://github.com/kubernetes/cloud-provider/blob/b34c0c5f35bd4ce708a79839a838aaf52c0fd3f0/plugins.go#L86)).

I want to see if there is a way to pass cli flags or feature

[2021-12-01 01:01] ramineni commented on #49
/remove-lifecycle stale

[2021-12-02 18:06] nicolehanjing opened #53 "controllermanager.go version is not shown in the log correctly"
controllermanager.go version is shown as `v0.0.0-master+$Format:%H$` in the log:
[code]

https://github.com/kubernetes/cloud-provider/blob/master/app/controllermanager.go#L144 needs to be fixed

Expected to see a real version number instead of `v0.0.0-master+$Format:%H$`.

Ref: https://github.com/kubernetes/cloud-provider-vsphere/issues/534

[2021-12-05 14:19] shunsukew opened #54 "Labeling LoadBalancer service doesn't invoke EnsureLoadBalancer logic"
In current implementation, labeling service type LoadBalancer resource won't trigger EnsureLoadBalancer methods.
Annotating service resource triggers EnsureLoadBalancer on the other hand.

we may want to invoke EnsureLoadBalancer when labeling service, and execute some codes at user implementation side based on new label added to them.

https://github.com/kubernetes/cloud-provider/blob/63adcbd736a

[2021-12-05 14:35] shunsukew opened #55 "UpdateLoadBalancer target services are not deterministic when starting process"
When starting cloud-provider, EnsureLoadBalancer is called for all service resources.
However, UpdateLoadBalancer is called for some but not for all, and which services to be called is not deterministic.

This is because there's race condition between registering all services in service cacheMap by processNextWorkItem gorutines and first nodeSync execution.

What happens when starting process

1.

[2021-12-15 17:19] displague commented on #53
This seems to be a duplicate of #49

[2022-01-19 14:10] mdbooth opened #56 "Kubelet no longer restricts InternalIP to --node-ip after upgrade to CCM"
This affects certain common configurations on OpenStack, but I don't think the issue is specific to OpenStack so I am reporting it here.

A worker has 2 attached networks:

* The machine network: all k8s traffic lives here
* A storage network

There is no routing between these 2 networks.

Both the legacy and external CCM return both of these addresses as InternalIP in NodeAddresses (I will discus

[2022-01-19 16:41] andrewsykim commented on #56
This might be the fundamental problem here, generally the cloud provider should be able to look up the desired node address range for internal IP, which should be configurable by the cluster admin (like the `internal-network-names` config you mentioned). If this is not the case, then --node-ip is the unfortunate fallback.

[2022-01-19 17:13] mdbooth commented on #56
This is the can of worms I'd prefer not to open today, although it is now on the waiting list for an appointment with the can opener :) I definitely agree we should be able to do this. I feel like CAPI should be the ultimate source of this information, but even in CAPI I don't think there's any explicit concept of 'this specific interface is a machine interface, that one is not'. But the worms are

[2022-01-19 17:22] mdbooth commented on #56
I'm also proposing to do the work, btw. My immediate problem is agreeing it's a problem that requires a solution, then coming up with an acceptable design.

[2022-01-19 17:35] andrewsykim commented on #56
By this you mean that CCM should remove all other IPs that is not --node-ip right?

[2022-01-20 09:49] mdbooth commented on #56
Or any other acceptable solution which would achieve the same result. Possibilities:

* Update kubelet to [optionally] retain the same filtering behaviour [1]
* Update cloud-provider to [optionally] do the filtering there for all cloud providers
* Update OpenStack CCM to [optionally] do the filtering for just OpenStack CCM

I assume that at this stage the behaviour would have to be optional or we

[2022-01-20 10:17] aojea commented on #56
/cc @danwinship @aojea

[2022-01-20 21:03] danwinship commented on #56
[KEP-1664](https://github.com/kubernetes/enhancements/pull/1665) was supposed to solve this, along with too many other things at the same time, and a lot of it didn't happen. [This comment gives a good summary of the final state](https://github.com/kubernetes/enhancements/pull/1665#issuecomment-817195303) with some links to relevant earlier comments. There was no actual objection to the "replace `

[2022-01-21 11:34] mdbooth commented on #56
@bparees also suggested this, but I was wary that having 'ineligible' IPs listed as internal might end up biting us in edge cases. If we don't think this is the case then this solution would be simple to implement centrally for all CCMs, and presumably safe enough to do by default. This sounds like a good way forward.

Unfortunately not easily. There are a couple of problems. Firstly node-ip is de

[2022-01-21 11:42] mdbooth commented on #56
Thinking about it, putting the annotated NodeIP first in the returned list of NodeAddresses seems safe enough that we should probably do it anyway, even if we still have to look for edge cases.

@andrewsykim Do you think it's worth knocking up a PR in this repo to do this unconditionally for all cloud providers?

[2022-01-21 20:19] andrewsykim commented on #56
This is the PR https://github.com/kubernetes/kubernetes/pull/79391 I was referring to

[2022-01-24 10:52] mdbooth commented on #56
@danwinship @andrewsykim We'll hopefully knock that patch up today.

However, based on the linked PR I do have a concern that we're going to *intentionally* clobber the ordering of NodeAddresses. Specifically, an existing Node with a node-ip which was not previously listed first will have a new effective node-ip after this patch. A mitigating factor would be that there's a strong likelihood it was

[2022-01-24 14:02] danwinship commented on #56
In the past it would have (because of the randomly-reordering bug Andrew mentioned), but not these days. Eg, the AWS cloud provider returns all IPs on all AWS-created interfaces on the node, but it always returns the first IP on "eth0" first, and everything works.

Ah, right, forgot that part.

Yeah... I think in the case of the public clouds, the set of possible configurations is more constrained

[2022-03-02 17:36] andrewsykim commented on #56
/triage accpeted

[2022-03-02 17:36] andrewsykim commented on #56
/triage accepted

[2022-03-02 17:37] andrewsykim commented on #54
/triage accepted

[2022-03-02 17:40] andrewsykim commented on #53
I think this is working as expected. You need to use the version build tag when compiling the binary for the proper version to be displayed.

/close

[2022-03-02 17:40] #53 closed

[2022-03-07 08:28] nckturner commented on #49
This worked for me with the AWS CCM: https://github.com/kubernetes/cloud-provider-aws/pull/317

[2022-03-11 08:16] nilo19 opened #57 "node lifecycle controller should delete node if failed to check if node is shutdown because of 404"
https://github.com/kubernetes/cloud-provider/blob/master/controllers/nodelifecycle/node_lifecycle_controller.go#L175
In some cases, the node lifecycle controller will fail to check if the node is shutdown because the corresponding VM in cloud provider was deleted. We should parse the error and delete the node in this scenario.

/kind bug

[2022-03-17 17:21] twexler commented on #35
Bumping this up as it hasn't seen any love in a while. This is super useful to my company, as we would like to be able to operate hybrid clusters (openstack and bare-metal in our case) while still being able to use cloud-controller-manager.

[2022-03-17 19:18] olemarkus commented on #35
It comes down to how to identify when a node is owned by which CCM. AWS has some notion that nodes should be prefixed either with `ip-` or `i-`, but that is a poor heuristic.

It may be that a KEP is needed to introduce a flag to kubelet that will add something to the created node object hinting at what CCM should own it, and that all CCMs then implement support for ignoring the hint if set to ano

[2022-03-18 14:13] twexler commented on #35
That's a good point, it does mesh really nicely with allowing multiple CCMs (AWS or otherwise) to manage a single cluster.

I was more approaching the idea of having an annotation on a node that indicates which CCM it should belong to, but we'd need a reproducible(?) way to identify CCMs... could be done as a simple argument to the CCM, or...?

[2022-03-18 14:28] olemarkus commented on #35
Sounds like something similar to LoadBalancerClass and IngressClass.

[2022-03-18 14:55] twexler commented on #35
Yeah, feels very similar. I like that parallel a lot.

[2022-03-24 09:58] #56 closed

[2022-04-06 11:21] olemarkus commented on #49
/remove-lifecycle rotten

Works for tagged releases, but still broken for pre-releases:
[code]

[2022-04-20 15:50] CharlieR-o-o-t opened #58 "LoadBalancer controller: nodes listing with externalTrafficPolicy == "local""
We use externalTrafficPolicy "local" for our service and want to setup our balancer with members from service endpoints, but we got all cluster nodes as argument to EnsureLoadBalancer.

We are able to perform health check with port from service healthCheckNodePort, but all cluster nodes in NLB members looks like huge overhead.

Proposed solution:
In case externalTrafficPolicy == "local", use nodes

[2022-04-20 17:00] andrewsykim commented on #58
This is expected behavior -- as you mentioned, using the healthCheckNodePort ensures only nodes with the endpoint is being used by the LB

Call EnsureLoadBalancer (trigger event) on each service endpoints update (pod scaling, migration etc.)

My gut feeling is that this would be too costly. Services that have a lot of endpoints would churn a lot during a rolling update of the pods. Trying to add/r

[2022-04-21 09:56] CharlieR-o-o-t commented on #58
Yes, but load balancer will be in unhealthy state, because node with no 'localEndpoints' on it returns 50x error code.

Thank you, I agree with it.

[2022-04-21 17:26] mdbooth opened #59 "Service Controller can call provider EnsureLoadBalancer with a dirty Service object"
I observed this with cloud-provider-openstack, but I believe this is a framework bug not a provider bug. Specifically we had a permissions issue which caused this Patch to always fail: https://github.com/kubernetes/cloud-provider-openstack/blob/21ce6dd984e5599ba3c411c960acdbcf9b5dbf03/pkg/openstack/loadbalancer.go#L1783

However, completely deterministically this succeeds the second time it is cal

[2022-04-21 17:45] mdbooth commented on #59
Related (but separate), I think we should remove the cache. The cached was added in https://github.com/kubernetes/kubernetes/commit/fc08a0a71b7a8b00271da28c14c4d0897c502988 in 2015, and I suspect that the reasons it was originally added no longer apply. It is used to update Service object in response to changes to Nodes.

I suspect the reason the cache was added was to avoid fetching Service objec

[2022-04-21 18:02] andrewsykim commented on #59
Related: https://github.com/kubernetes/kubernetes/pull/107631#pullrequestreview-910979852

[2022-04-21 18:04] andrewsykim commented on #59
It's possible that bug fix would address your problem though? But there's a follow-up to be had where we remove the cache as you suggested

[2022-04-21 18:04] mdbooth commented on #59
That's the incidental problem, not the main one, though!

[2022-04-21 18:05] mdbooth commented on #59
No, I've confused this issue by discussing 2 related but different things. The serviceCache is simply confusing now. It's not the source of the bug.

[2022-04-21 18:12] mdbooth commented on #59
You can see it here: https://github.com/kubernetes/kubernetes/blob/349900472a38a29fd6d85f7e4880d4f3d72ad6ee/staging/src/k8s.io/cloud-provider/controllers/service/controller.go#L346-L347

Note that we updated the cache with the service object we were passed from the informer, before passing the object from the informer to syncLoadBalancerIfNeeded(). The dirty object came from the informer, not the

[2022-04-21 20:04] mdbooth commented on #59
I've thrown up a placeholder PR which hopefully demonstrates what I think the problem is. It's completely untested! I'll try to work on it properly tomorrow.

[2022-04-22 09:35] mdbooth commented on #59
I have manually verified that https://github.com/kubernetes/kubernetes/pull/109601 fixes the issue: I'm now more confident that the issue is that we're modifying the object returned by the informer when we should not. I'll explain how I tested it in the PR, and look for a practical way to add an automated test.

[2022-04-25 10:04] mdbooth commented on #59
I decided to quickly audit the other cloud-provider controllers looking for similar problematic uses of objects returned from an informer:

---
Node controller looks ok. Looks like it always copies or re-fetches before modifying.

Node lifecycle controller passes shallow-copied Node from informer to:
- [instanceV2.InstanceExists](https://github.com/shiftstack/kubernetes/blob/fa1b6765d55c3f3c00299a

[2022-04-25 15:09] andrewsykim commented on #59
I think up to this point it was implied that the Service object passed from the controller should be read-only but agreed that passing a deep copy is probably the safer thing to do since it's not always obvious

[2022-05-18 04:31] chestack opened #60 "[Feature discussion] Loadbalancer support to route traffic directly to Pods instead of NodePort."
Loadbalancer is able to route traffic directly to Pods instead of NodePort for some cloud platforms with cni supported.
such as:
- GKE container-native LB: https://cloud.google.com/kubernetes-engine/docs/concepts/container-native-load-balancing
- EKS NLB IP mode: https://github.com/aws/containers-roadmap/issues/981

So should we add a new loop like _syncEndpoint_ into loadbalancer controller to up

[2022-05-26 05:15] deitch opened #61 "Usage of IPs returned by `InstancesV2().InstanceMetadata()`, and interaction with `--node-ip`"
I am trying to clarify several related issues.

First, if an external CCM returns multiple addresses of one type (e.g. 2 `InternalIP` or 2 `ExternalIP`), which ones become "the" IPs used for the node resource? Some comments in #56 imply that it is sorted order, i.e. first one of a given type, but is that actually so? Is it documented anywhere?

Second, the description in #56, and the code comment

[2022-06-02 19:09] snebel29 opened #62 "app.NewCloudControllerManagerCommand additionalFlags not working as expected"
Hi,
Poking around with `app.NewCloudControllerManagerCommand` I noticed `additionalFlags` argument does not seems to be working as I would expect, while the flag is parsed it is not show in the usage or help.

When an additional flagSet is passed it is parsed, and can be used however it is not shown in the usage or help of the command.

To reproduce, use the following snippet of code:
[code]

The

[2022-06-06 15:34] sergelogvinov opened #63 "Many CCM in one cluster."
Hello. I'd like to launch two CCM in one k8s cluster (one control plane)

Currently, CCM is trying to manage all nodes in the cluster, even if they have different ProviderName.
And one CCM can delete a node which uninitialized because it does not find the node in the cloud provider and does not have ProviderID yet.

Can we skip managing the foreign nodes? And add delete delay for uninitialized nod

[2022-06-06 18:26] cheftako commented on #63
Having multiple copies of the same controller operating simultaneously is asking for race conditions. Currently we prevent this using controller manager level leader election. I am assuming that you have already given one of the two CCMs an alternate leader election name to circumvent the leader election protection. If you want to go that route I would suggest using the controllers flag (https://g

[2022-06-07 08:22] #57 closed

[2022-06-19 11:29] deitch commented on #61
Anyone have insight into these issues?

[2022-06-19 11:40] olemarkus commented on #61
If kubelet is configured to use `--node-ip`, this will end up in an annotation being set on the Node object that kubelet creates.
CCM creates a list of eligible IPs that the Node object can use. If the IP in the annotation is also in the list of IPs from CCM, this IP becomes the "primary" IP of the Node object.

Also note that Node IPs are either _internal_ or _external_. This is not synonymous wi

[2022-06-19 11:59] deitch commented on #61
Thanks for hopping in @olemarkus

Yes, I definitely get the private/public vs internal/external distinctions, but it is good to have them clearly here on this issue.

So to summarize. Setting `node-ip` has no impact on the node IP itself. What it does do, is add an annotation. The CCM, upon receiving the v1.Node object, can check for and use that annotation. The actual IPs used are those provided

[2022-06-19 12:17] olemarkus commented on #61
Assuming an external CCM is used, then no, setting `--node-ip` doesn't really provide any guarantees. It is ultimately CCM that decides what IPs to use. An external CCM may even not use this library and provide their own logic.

"List of eligible IPs" is whatever is returned by the `NodeAddressesByProviderID()` function that is a part of the CCM `Instance` interface. Usually it involves calls to t

[2022-06-19 12:40] deitch commented on #61
Sure, totally got that. When it gets returned, how does kubernetes decide which IP to use? Is it first in the list?

[2022-06-21 13:24] olemarkus commented on #61
The first entry is the primary node IP, yes. And yes, that is the correct annotation.

[2022-06-21 14:43] deitch commented on #61
When I pass `--node-ip` to the kubelet, does the kubelet actually validate that it is a valid address? Or does it pass it on to the CCM as is? If I passed in `--node-ip="Ole Markus is Helpful"`, will the kubelet catch that and error it out? Or is it up to the CCM to do so?

[2022-07-28 01:15] #59 closed

[2022-07-30 19:34] #54 closed

[2022-07-30 19:34] #55 closed

[2022-08-12 09:36] zhaodiaoer commented on #35
Hi all, any update on this issue?

[2022-09-03 14:07] #49 closed

[2022-09-13 19:02] snebel29 commented on #62
I have created https://github.com/kubernetes/kubernetes/pull/112405 with a fix for this which is awaiting for review, feedback is welcomed.

[2022-09-15 06:09] olemarkus commented on #60
AWS at least seems pretty clear they will deprecate the service controller for their own AWS Load Balancer Controller.

[2022-09-18 12:00] #58 closed

[2022-10-15 06:22] #60 closed

[2022-11-03 20:23] #63 closed

[2022-11-18 20:12] #61 closed

[2022-11-25 20:19] sterchelen commented on #38
Can we re-open the issue please?
We are still in the same situation as before, 100 second hard-coded https://github.com/kubernetes/cloud-provider/blob/016d675f2dd271246e45aa8a1e5b17fd1909539c/controllers/service/controller.go#L51